body {
	background-color: black;
	font-family: Verdana;
	color: white;
	scrollbar-base-color: red;
	font-size: 100%;
}

	p {
		color: white;
		font-size: 90%;
	}

	ul {
		margin-top: 0px;
		margin-bottom: 0.25em;
		padding-top: 0px;
		padding-bottom: 0.25em;
	}

	a {
		color: #AAAAAA;
		font-family: Verdana;
		text-decoration: none;
		font-size: 90%;
	}

	a:hover {
		color: white;
		font-family: Verdana;
		text-decoration: underline;
	}

	h1 {
		color: white;
		font-size: 400%;
	}

	::-webkit-scrollbar {
		border: 1px solid red;
	}

	::-webkit-scrollbar-thumb {
		background-color: black;
		border: 1px solid red;
		border-radius: 3px; 
	}

	::-webkit-scrollbar-button {
		background-color: black;
		border: 1px solid red;
		border-radius: 3px;
	}

	::-webkit-scrollbar-track-piece { 
		background-color: black;
	}

/*Home page*/

	#page {
		width: 90%;
		max-width: 960px;
		margin: auto;
		min-width: 320px;
	}

	#banner {
		border: 2px dashed white;
		border-radius: 5px;
		/*height: 33.75em;*/
		width: 100%;
		margin: auto;
		text-align: center;
	}

	#menu {
		border: 2px dashed white;
		border-radius: 5px;
		width: 11em;
		margin: auto;
		text-align: center;
		margin-top: 2.75em;
	}

/*Game page*/

#pageGame {
	width: 90%;
	max-width: 960px;
	margin: auto;
	min-width: 320px;
}

#scene {
	height: 62.5%;
	width: 100%;
	border: 2px solid red;
	border-radius: 5px;
	margin: auto;
}

	.sceneBG {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 100%;
		height: 62.5%;
	}

#lowerContainer {
	height: 12.25em;
	width: 100%;
}

#messages {
	height: 12em;
	width: 100%;
	border: 2px dashed red;
	border-radius: 5px;
	margin-top: 0.5em;
	padding-top: 5px;
	padding-bottom: 5px;
}
	.scroll-wrapper {
		-webkit-overflow-scrolling: touch;
	  	overflow-y: scroll;

		/* important:  dimensions or positioning here! */
	}

	.scroll-wrapper iframe {
		/* nada! */
	}
	
	iframe {
		height: 100%;
		width: 100%;
		border: none;
	}


	#continue {
		height: 2.5em;
		width: 5em;
		border: 1px solid red;
		border-radius: 5px;
		margin-right: 0.75em;
		margin-bottom: 5px;
		text-align: center;
		float: right;
		
		position: fixed;
		bottom: -0.25em;
		right: 1em;
		
		font-size: 80%;
		font-family: Verdana;
		display: table;
	}

	#continueButton {
		vertical-align: middle;
		margin: auto;
		margin: 0.55em 1em;
	}

	#textArea {
		width: 90%;
	}

	#messageBottom {
		bottom: 0px;
	}

#footer {
	/*
	position: fixed;
	bottom: 0;
	right: 0;
	*/
	height: 2.25em;
	width: 100%;
	text-align: center;
	border: 2px solid red;
	border-radius: 5px;
	margin-top: 0.5em;
}

	.footerButton {
		border: 1px dotted red;
		border-radius: 5px;
		display: inline-block;

		/*
		margin-left: 20px;
		margin-bottom: 3px;
		
		margin: auto;
		width: 5em;
		*/

		width: 30%;
		margin: 0.5em auto;
		max-width: 10em;
		
	}

/* Responsive Elements */

@media screen and (max-width: 830px) {
	#textArea {
		width: 80%;
	}
}

@media screen and (max-width: 740px) {
	h1 {
		font-size: 300%;
	}
}

@media screen and (max-width: 475px) {
	#textArea {
		width: 70%;
		font-size: 80%;
	}
}